{% extends 'base.html' %}
{% block content %}
<body class='car-det'>
<h1 class='title'>Cars</h1>

{% for car in object_list %}
<div class='card'>
    <a href="{% url 'car_detail' car.id %}">
        <div class='card-content'>
            <span class='card-adj'>{{car.make}} {{car.model}}</span>
            <p>Year: {{car.year}}</p>
            <p>Color: {{car.color}}</p>
            <p>Description: {{car.description}}</p>
        </div>
    </a>
</div>
{% endfor %}
</body>
{% endblock %}