{% extends 'base.html' %}
{% block content %}
<h1>Car's Details</h1>

<div class='card'>
    <div class='card-content'>
        <span class='card-title'>{{car.make}} {{car.model}}</span>
        <p>Year: {{car.year}}</p>
        <p>Color: {{car.color}}</p>
        <p>Description: {{car.description}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'car_update' car.id %}">Edit</a>
        <a href="{% url 'car_delete' car.id %}">Delete</a> 
    </div>
</div>

<div class="col s6">
    <form action="{% url 'add_service' car.id %}" method="POST">
        {% csrf_token %}
        {{service_form.as_table}}
        <input type="submit" class="btn" value="Add Service!">
    </form>
    <table class="striped">
      <tbody>
        {% for service in car.service_set.all %}
        <p>Service: {{service.name}}</p>
        <p>Description: {{service.description}}</p>
        <p>Parts Used: {{service.parts}}</p>
        <p>Cost: ${{service.cost}}</p>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="row">
    <div class="col s6">
      <h3>{{ car.make }} {{ car.model }}</h3>
      {% if car.upgrade.count %}
        {% for upgrade in car.upgrade.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
              <h3>1.{{ upgrade.name }}</h3>
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_upgrade' car.id upgrade.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Upgrades Yet!</h5>
      {% endif %}
    </div>
  </div>



  <div class="col s6">
    <h3>Upgrades</h3>
    {% if upgrades_car_doesnt_have.count %}
      {% for upgrade in upgrades_car_doesnt_have.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <h3>1.{{ upgrade.name }}</h3>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_upgrade' car.id upgrade.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>This car has it All!</h5>
    {% endif %}
  </div>
</div>



{% endblock %}