{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1 class='title'>Edit {{ object.make }}</h1>
{% else %}
<h1 class='title'>Add a Car</h1>
{% endif %}

<form action="" method="POST">
{% csrf_token %}
    <table class='form-bckg'>
        {{ form.as_table }}
    </table>
    {% if object %}
    <input type="submit" value="Modify {{car.make}}" class="btn">
    {% else %}
    <input type="submit" value="Add the Car!" class="btn">
    {% endif %}
</form>

{% endblock %}